# Mission to Mars

In [1]:
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup

# Web Scraping

## NASA Mars News

In [2]:
# Create a dictionary for all data scraped
mars_data = {}

In [3]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news"

In [4]:
# Retrieve page with splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title = soup.find('div',class_='content_title').a.text.strip()
news_p = soup.find('div', class_='rollover_description_inner').text.strip()

In [7]:
#Retrieve title and paragraph of the most recent news
mars_data["news_title"]=news_title
mars_data["news_p"]=news_p

In [8]:
mars_data

{'news_title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
 'news_p': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'}

## JPL Mars Space Images - Featured Image

In [9]:
url_img = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [10]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image
browser.visit(url_img)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
featured_image_url = soup.find('div', class_='carousel_items')
featured_image_url = featured_image_url.article["style"].split("(")[1]
featured_image_url = featured_image_url.split(")")[0]
featured_image_url = featured_image_url.split("'")[1]
featured_image_url = featured_image_url.split("'")[0]
featured_image_url = "https://www.jpl.nasa.gov"+featured_image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1920x1200.jpg'

In [13]:
mars_data["featured_image_url"] = featured_image_url

In [14]:
mars_data

{'news_title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
 'news_p': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1920x1200.jpg'}

## Mars Weather

In [15]:
url_weather = "https://twitter.com/marswxreport?lang=en"

In [16]:
response_weather = requests.get(url_weather)
soup = BeautifulSoup(response_weather.text, "html.parser")

In [17]:
# Extract weather data
mars_weather = soup.find('p', class_="TweetTextSize").text
mars_weather

'InSight sol 365 (2019-12-06) low -98.8ºC (-145.8ºF) high -21.5ºC (-6.8ºF)\nwinds from the SSW at 5.7 m/s (12.7 mph) gusting to 20.2 m/s (45.2 mph)\npressure at 6.60 hPapic.twitter.com/JF2KNAksNr'

In [18]:
mars_weather = mars_weather.split("Papic")[0]

In [19]:
mars_data["mars_weather"] = mars_weather

In [20]:
mars_data

{'news_title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
 'news_p': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1920x1200.jpg',
 'mars_weather': 'InSight sol 365 (2019-12-06) low -98.8ºC (-145.8ºF) high -21.5ºC (-6.8ºF)\nwinds from the SSW at 5.7 m/s (12.7 mph) gusting to 20.2 m/s (45.2 mph)\npressure at 6.60 h'}

## Mars Facts

In [21]:
url_facts = "https://space-facts.com/mars/"

In [22]:
# Use Pandas Scraping
mars_facts = pd.read_html(url_facts)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
mars_facts_df = mars_facts[0]
mars_facts_df.columns=['Measure of','Value']
mars_facts_df = mars_facts_df.set_index('Measure of')
mars_facts_df

                                              Value
Measure of
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
# dataframe to html
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Measure of</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
html_table = html_table.replace("\n","")
html_table = html_table.replace("right","left")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: left;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Measure of</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [26]:
mars_data["mars_facts"] = html_table

In [27]:
mars_data

{'news_title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
 'news_p': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1920x1200.jpg',
 'mars_weather': 'InSight sol 365 (2019-12-06) low -98.8ºC (-145.8ºF) high -21.5ºC (-6.8ºF)\nwinds from the SSW at 5.7 m/s (12.7 mph) gusting to 20.2 m/s (45.2 mph)\npressure at 6.60 h',
 'mars_facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: left;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Measure of</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'}

## Mars Hemispheres

In [28]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [29]:
response = requests.get(url_hemisphere)
soup = BeautifulSoup(response.text, "html.parser")

In [30]:
results = soup.find_all('div', class_="item")

In [31]:
#Find urls for high resolution images and store urls in a list
url_high_resolution = []
for result in results:
    url_high_resolution.append(result.a['href'])
url_high_resolution

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [32]:
# image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name
hemisphere_image_urls = []

for i in url_high_resolution:
    response = requests.get(f"https://astrogeology.usgs.gov{i}")
    soup = BeautifulSoup(response.text, "html.parser")
    
    title = soup.find('h2', class_='title').text.split("Enhanced")[0]
    img_url = soup.find_all('li')[1].a['href']
    hemisphere_image_urls.append({"title":title,"img_url":img_url})
    print("-------------")
    print(title)
    print(img_url)

-------------
Cerberus Hemisphere
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif
-------------
Schiaparelli Hemisphere
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif
-------------
Syrtis Major Hemisphere
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif
-------------
Valles Marineris Hemisphere
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif

In [33]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]

In [34]:
mars_data["hemisphere_image_urls"] = hemisphere_image_urls

# Mars Data Dictionary

In [35]:
mars_data

{'news_title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
 'news_p': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1920x1200.jpg',
 'mars_weather': 'InSight sol 365 (2019-12-06) low -98.8ºC (-145.8ºF) high -21.5ºC (-6.8ºF)\nwinds from the SSW at 5.7 m/s (12.7 mph) gusting to 20.2 m/s (45.2 mph)\npressure at 6.60 h',
 'mars_facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: left;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Measure of</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'hemisphere_image_urls': [{'title': 'Cerberus Hemisphere ',
   'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'},
  {'title': 'Schiaparelli Hemisphere ',
   'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'},
  {'title': 'Syrtis Major Hemisphere ',
   'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'},
  {'title': 'Valles Marineris Hemisphere ',
   'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]}